<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="YT RSS Feeds" />
    <meta property="og:description" content="Generate YouTube RSS feeds from the channel URL." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ytrss.pesky.moe/" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"> 
    <title>YT RSS Feeds</title>
</head>
<body>
    <main>
        <h1>Generate YouTube RSS feeds</h1>
        <p>Enter a URL for a YouTube channel or playlist to generate the feed URL you can use to subscribe with an RSS reader. Source code can be found on <a href="https://github.com/PeskyPotato/yt-rss">GitHub</a>.</p>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="{{ messages[0][0] }}">
                    {{ messages[0][1] }}
                </div>
            {% endif %}
        {% endwith %}

        <div class="segment">
            <form>
                <label for="url" action="/api">Channel or playlist URL:</label>
                <input type="url" name="url" id="url" placeholder="https://youtube.com/@ABCDEF" pattern="https://.*" size="30" required />
                <button type="submit">Get feed</button>
            </form>
            <div>
                {% if data is defined %}
                    <dl>
                        <dt>YouTube URL</dt>
                        <dd>{{ data.webpage_url }}</dd>
                        {% if data.playlist_id is defined %}
                            <dt>Playlist ID</dt>
                            <dd>{{ data.playlist_id }}</dd>
                            <dt>Playlist Feed URL</dt>
                            <dd>{{ data.playlist_feed_url }}</dd>
                        {% endif %}
                        <dt>Channel ID</dt>
                        <dd>{{ data.channel_id }}</dd>
                        <dt>Channel Feed URL</dt>
                        <dd>{{ data.feed_url }}</dd>
                        {% if data.video_url is defined %}
                            <dt>Video Feed URL</dt>
                            <dd>{{ data.video_url }}</dd>
                            <dd><span>&#x272A; Members only</span> {{ data.video_url_members }}</dd>
                            <dt>Short Video Feed URL</dt>
                            <dd>{{ data.shorts_url }}</dd>
                            <dd><span>&#x272A; Members only</span> {{ data.shorts_url_members }}</dd>
                            <dt>Live Stream Feed URL</dt>
                            <dd>{{ data.live_url }}</dd>
                            <dd><span>&#x272A; Members only</span> {{ data.live_url_members }}</dd>
                        {% endif %}
                    </dl>
                {% endif %}
            </div>
        </div>
    </main>
</body>
</html>